    <!-- Over -->
    <div class="container">
        <h1>LES DEMOISELLES D'HONNEUR</h1>
        <h4>Marie Astrid Cauquy</h4>
        @for(participant of participants.demoiselles; track participant.name){
            <app-participant [name]="participant.name" [description]="participant.description" [photo]="participant.photo" [reversed]="participant.reversed"></app-participant>
        }
    </div>
    <hr>
    <div class="container">
        <h1>LES GARÇONS D'HONNEUR</h1>
        <h4>Nicolas Jacquot</h4>
        @for(participant of participants.garcons; track participant.name){
            <app-participant [name]="participant.name" [description]="participant.description" [photo]="participant.photo" [reversed]="participant.reversed"></app-participant>
        }
    </div>
    <hr>
    <div class="container">
        <h1>AUTRES PERSONNES IMPORTANTES</h1>
        @for(participant of participants.other; track participant.name){
            <app-participant [name]="participant.name" [description]="participant.description" [photo]="participant.photo" [reversed]="participant.reversed"></app-participant>
        }
    </div>
