<router-outlet></router-outlet>

<!-- Page -->
<div class="gla_page gla_middle_titles" id="gla_page">

    <!-- To Top -->
    <a href="#gla_page" class="gla_top ti ti-angle-up gla_go"></a>
  
    <!-- Music -->
    <div class="gla_music_icon">
      <i class="ti ti-music"></i>
    </div>
    <div class="gla_music_icon_cont">
      <iframe src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/108238095&amp;auto_play=true&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true" allow="autoplay"></iframe>ß
    </div>
  
  
    <!-- NAVIGATION -->
    <app-top-nav></app-top-nav>
    <!-- END of NAVIGATION -->
  
    <router-outlet></router-outlet>
  
  </div>
  <!-- Page End -->